/*
?v=2.0 2020-11-22 23:35
?v=1.9 2020-11-22 22:45
?v=1.8 2020-11-20 16:15
?v=1.7 2020-11-18 16:20
?v=1.6 2020-05-30 17:11
?v=1.5 2020-05-21 17:25
?v=1.4 2019-11-3 01:05
font-family: 'Playfair Display', serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Unna', serif;
font-family: 'Source Sans Pro', sans-serif;
*/

.bg-custom {
    background-color: orangered;
}

.logo {
    font-weight: 600;
}

body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* padding-top: 64px; */
  background-color: rgba(8, 15, 34, 0.185);
}
/*
body { padding-top: 40px; }
@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}
*/
nav, footer {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 4s;
  transition-timing-function: ease-in-out;
}
.animate nav, .animate footer {
    opacity: 1;
    transition-delay: 2s;
}

.home-img img { 
    width: 100%;
    height: auto;
    transition-property: opacity;
    transition-duration: 4s;
    transition-timing-function: ease-in-out;
}
.animate .home-img img {
    opacity: 0.65;
    transition-delay: 2s;
}

.home-img h2, .home-img a {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 4s;
    transition-timing-function: ease-in-out;
}
.animate .home-img h2, .animate .home-img a {
    opacity: 1;
    transition-delay: 2s;
}

#introbox { 
    background-image: url(../img/introbox.jpg);
    background-size: cover;
    margin-top: 150px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.intro {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
    letter-spacing: 0.5px;
    color: white;
    text-align: center;
}

.content {
    background-color: rgb(19, 42, 63);
    /*background-color: rgba(5, 5, 46, .432);*/
}

main p {
    /*color:rgba(128, 128, 128, .9);*/
    color:white;    
    font-weight: 300;
    font-size: 1.2em;
}

/*setting position for motto and button for smaller screens*/
.home-img {
    position: relative;
   }
.motto {
    position: absolute;
    left: 15%;
    top: 38%;  
    font-weight: 400;
    font-size: 1.8em;   
    padding-right: 3rem;    
}
.btn {
    position: absolute;
    left: 15%;
    top: 51%;  
    }

/*sticky-footer*/    
.page {
        display: flex;
        flex-direction: column;
        height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
      }
.page-header,
.page-footer {
        flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
      }
.page-content {
        flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
      } 
        
/*setting position for motto and button for larger screens*/
@media screen and (min-width: 700px) {
    .motto {
        position: absolute;
        left: 15%;
        top: 40%;  
        font-size: 2.5em;
        color:  rgb(19, 42, 63);
         }
    .btn {
        position: absolute;
        left: 15%;
        top: 49%;  
        }
    nav li {
        margin-left : 2em;
    }
        .smallbox {
        max-width: 680px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 100px;
    }    
}

/*setting spacing for nav items*/
@media screen and (min-width: 790px){
    .navbar li {
        margin-left : 2em;
        margin-right : 2em;
    }
}

/* Portfolio */
#port-h3 {
	font-weight: 600;
	letter-spacing: 4px;
	padding-bottom: 15px;
	text-align: center;
	border-bottom: 2px solid crimson;
    max-width: 216px;
}

/* ABOUT*/
#about p {
    color:white;    
    font-weight: 300;
    font-size: 1.2em;
}

/* Contact*/
.alert {
    margin-top: 10px;
}