/*
font-family: 'Lato', sans-serif;
font-family: 'Playfair Display', serif;
*/

body {
	margin: 0;
	font-family: 'Lato', sans-serif;
}

header {
    background-color: lightblue;
    border-radius: 0 0 1rem 1rem;
    box-shadow: 4px 4px 25px lightslategray;
    font-size: 20px;
	letter-spacing: 2px;
	word-spacing: 7px;
	padding: 5px 30px;
	-ms-transition: 2s;
	transition: 2s;
	font-family: 'Playfair Display', serif;
}

h2 {
	font-family: 'Playfair Display', serif;
	text-decoration-line: underline;
	margin: 75px 0 45px 0;
}

nav ul {
	list-style: none;
	text-align: right;
	word-spacing: 10px;
}

nav li {
	display: inline;
}

nav a {
	text-decoration: none;
	color: white;
	font-size: 20px;
	background-color: rgb(10, 80, 80);
    padding: .5rem 1rem;   
    -ms-transition: 1s;
    transition: 1s; 
}

main {
	display: block; 
	max-width: 100%;
	margin: auto;
	padding: 10px;
}

article {
   width: 33%;
    display: inline-block;
    padding: 1%;
    border: .2rem solid blue;
    box-sizing: border-box;
    vertical-align: top;
}

img {
	max-width: 100%;
	height: auto;
}

footer {
	background-color: lightblue;
	text-align: center;
	padding: 5px 0;
	margin-top: 10px;
}	